<ul id="gallery">
  <% images.forEach(element=> { %>
    <li class="gallery-image">
      <img src="<%= element.galleryPath %>">
      <button class="btn-view-full-image">View full size</button>
      <a href="/new-puzzle?img_id=<%= element._id %>">Create a puzzle from this
        image</a>
    </li>
    <% }) %>
</ul>