<h1>Welcome <%= user.username %></h1>

<nav>
  <a href="/new-puzzle">Create a puzzle</a>
  <a href="/new-image">Upload an image</a>
</nav>

<section>
  <h2>Your puzzles</h2>
</section>

<section>
  <h2>Your images</h2>
</section>

<script type="module">
  const imagesRequest = await fetch("api/getImages");
  const response = await imagesRequest.json();
  console.log(response);
</script>