<%- include("../common/navigation") %>
<h1>Welcome <%= user.username %></h1>

<section>
  <h2>Your puzzles</h2>
</section>

<section>
  <h2>Your images</h2>
  <% images.forEach(element => { %>
    <img src="<%= element.galleryPath %>">
  <% }) %>
</section>
