<!doctype html>
<html>

<head>
  <%- include("../partials/head") %>
    <style>
      body {
        background-color: black;
        color: yellow;
      }
    </style>
</head>

<body>
  <%- include('../common/navigation') %>
    <%- body %>
</body>

</html>