<h1>Create an account</h1>
<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="input-username">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="input-password">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Is Admin?</label>
        <input type="checkbox" name="isadmin" class="" id="checkbox-isadmin">
    </div>
    <div class="col-auto">
        <button type="submit" id="button-submit" class="btn btn-primary mb-3">Submit</button>
    </div>
</form>
<p>
    Already have an account?
    <br />
    <a href="/login" id="login-link">Log in</a>
</p>

<script>
    const submitBtn = document.getElementById("button-submit");

    submitBtn.addEventListener("click", async (e) => {
        e.preventDefault();

        const emailInput = document.getElementById("input-username");
        const passwordInput = document.getElementById("input-password");
        const checkboxIsAdmin = document.getElementById("checkbox-isadmin");

        const data = {
            username: emailInput.value,
            password: passwordInput.value,
            isAdmin: checkboxIsAdmin.checked,
        };

        const request = await fetch("/api/aws/create-account", {
            body: JSON.stringify(data),
            method: "POST",
            headers: {
                "content-type": "application/json",
            },
        });

        const result = await request.json();

        window.location.href = "/login";
    })
</script>